.signUp {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}

.signUp label {
  display: block;
  margin: 30px auto;
}

.signUp span {
  display: block;
  margin-bottom: 6px;
}

.signUp input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
